@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Funnel Sans", sans-serif;
}

body {
    background-color: #f0f0f0;
}

.headline {
    display: flex;
    justify-content: center;
    background-color: #00274D;
    /* golden highlight */
    color: white;
    padding-top: 2%;
    /* dark text */
    /* text-align: center; */

    /* padding: 8px 15px;  */
    font-size: 1rem;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.headline p {
    display: flex;
    justify-content: center;
}


/* Navbar */
.navbar {
    background-color: #ffffff;
    /* padding: 12px 25px; */
    border-bottom: 1px solid #ddd;


}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 90px;
    width: auto;
}


.navbar-nav .nav-link {
    color: #00274D;
    font-size: 18px;
    font-weight: 500;
    /* margin: 0 40px; */
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 40px;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #2c3e50;
    border-bottom: #00274D 6px solid;
    /* padding-bottom: 8px; */
}


.dropdown-menu {
    background-color: white;
    border: none;
    border-radius: 8px;
}

.dropdown-item {
    color: #00274D;
    transition: 0.3s;
    text-transform: uppercase;
}

.dropdown-item:hover {
    background-color: #00274D;
    color: white;
    text-decoration: none;
}




#searchInput{
    /* padding: 8px 15px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 250px;
}

.searchbtn {
    background: #00274D;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    color: white;
    width: 100px;
}

.searchbtn:hover {
    background: #5C7285;
    color: white;
}

.icons i {
    /* margin: 10px; */
    font-size: 20px;
    color: #00274D;
    padding-right: 15px;
}

/* Navbar */


.banner {
    height: 700px;
    background-image: url(./imgs/banner.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}




 .card-group {
  gap: 20px;            
  margin: 30px;         
  display: flex;
  justify-content: center;
  flex-wrap: wrap;      
}

.card {
  margin: 10px;        
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card-img-top {
  width: 100%;
  height: 300px;          
  object-fit: cover;      
  transition: transform 0.35s ease;
}

.card-img-top:hover {
  transform: scale(1.1);  
}


.heading {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #00274D;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.featurebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.featurepara{
    width: 60%;
  
}

.card h5 {
    color: #00274D;
}

.div-1 {
    background-color: #5C7285;
    width: 50%;
    height: 6px;
    margin-left: 340px;
    margin-top: 5px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;

}



.test-box {
    background: linear-gradient(160deg,
            rgba(0, 39, 77, 1),
            rgba(0, 20, 40, 0.95));
    width: 30%;
    height: 400px;
    padding: 13px;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 2px 13px #002f5e;


}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 9px;
}

.footer {
    margin-top: 70px;
    background-color: #00274d;
}

.text-uppercase {
    color: white;
}
footer p{
    text-align: center;
}



.masonry-grid {
    margin-top: 50px;
    column-count: 3;
    column-gap: 10px;
    padding: 20px;
}

.masonry-grid img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
}

.small-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.small-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.small-card img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-title {
    padding: 12px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
}

.small-card-title {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 12px;
    font-size: 20px;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    margin: 10px;
    gap: 20px;

}

.small-card-1 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 15px;
}

.small-card-1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.small-card-1 img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card-title-1 {
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
}

.bi-facebook {
    color: white;
}

.bi-twitter {
    color: white;
}

.bi-google {
    color: white;
}

.bi-instagram {
    color: white;
}

.bi-linkedin {
    color: white;
}

.bi-github {
    color: white;
}

.pelref {
    color: #00274D;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

.pelcard1 img {
    object-fit: cover;
    display: block;
    margin: auto;
    transition: opacity 0.4s ease-in-out;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;

}


.pelcard1 {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pelcard1:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.pelcard1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto 10px;
}


.Pelcard {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
}

.pelcard1 {
    position: relative;
    overflow: hidden;
}


.pelcard1 img.img-default {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}


.pelcard1 img.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.pelcard1:hover img.img-hover {
    opacity: 1;
}

.pelcard1:hover img.img-default {
    opacity: 0;
}

.pelprice {
    color: #00274D;
    font-size: 0.95rem;
    margin-bottom: 10px;
}


 .btn-container {
      display: flex;
      justify-content: center; 
      gap: 10px;               
      margin-top: 10px;
      flex-wrap: wrap;         
    }

    .pdfbtn {
      padding: 5px 8px;
      border: none;
      border-radius: 6px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      display: inline-block;
      width: 100px;       
      text-align: center; 
    }

    .download-btn {
      background-color:#e74c3c; 
      color: white;
    }
    .download-btn:hover {
      background-color: #c0392b; 
      color: white;
    }

    .view-btn {
      background-color: #27ae60; 
      color: white;
    }
    .view-btn:hover {
      background-color: #1e8449; 
      color: white;
    }

    /*  mobile */
    @media (max-width: 480px) {
      .btn-container {
        flex-direction: column;  
        align-items: center;      
        gap: 12px;             
      }

      .btn {
        width: 80%;           
        max-width: 250px;
      }
    }



.contactbody h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #00274d;
}

.cont-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 60px;

}

.card1 {
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card1:hover {
    transform: translateY(-5px);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #00274d;
}

.card1 h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #5C7285;
    font-weight: bold;
}

.card1 p {
    font-size: 14px;
    color: #5C7285;
    margin-bottom: 15px;
}

.contact-btn {
    display: inline-block;
    background: #00274d;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.contact-btn:hover {
    background: #023e8a;
    color: white;
}

/* WhatsApp button style */
.whatsapp {
    background: #00274d;
}

.whatsapp:hover {
    background: #128C7E;
}

/* Store button style */
.store {
    background: #00274d;
}

.store:hover {
    background: #5C7285;
}

/* body {
      font-family: Arial, sans-serif;
      background: #f5f7fa;
      margin: 0;
      padding: 0;
    } */
.contactborder {

    background: #00274d;
    width: 100%;
    height: 100%;
}

.contactborder h1 {
    color: white;
}

header {
    background: #00274d;
    color: white;
    padding: 20px;
    text-align: center;

}

header h1 {
    margin: 0;
    color: white;
    font-weight: bold;

}

header p {
    margin: 5px 0 0;
    font-size: 14px;

}

.main-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-box,
.info-box {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

}

.form-container h2 {
    font-size: 30px;
    color: #00274d;
    margin-bottom: 20px;
    border-bottom: 2px solid #4a6072;
    padding-bottom: 8px;
}

.form-container label {
    font-size: 16px;
    font-weight: bold;
    color: #00274d;
    display: block;
    margin-bottom: 6px;
}

.form-container input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border 0.3s ease;
}

.form-container input:focus,
textarea:focus {
    border-color: #4a6072;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #00274d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.btn:hover {
    background: #3b5060;
    color: white;
}

/* contactform css */
.info-box p {
    margin: 12px 0;
    font-size: 15px;
    color: #333;
}

.info-box span {
    font-weight: bold;
    color: #00274d;
}

.info-box h2 {
    color: #00274D;
    margin-top: 13px;
    border-bottom: 2px solid #4a6072;
    padding-bottom: 8px;
}

.section-one {
    text-align: center;
    margin-top: 80px;

}

.side-heading {
    font-size: 70px;
    text-align: left;
    color: white;
    padding-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.vision-heading{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #00274D;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.section-two {
    margin-top: 10%;
    display: flex;
    margin-bottom: 8%;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    align-items: center;


}

.side-heading {
    font-family: "Funnel Sans", sans-serif;
    color: #00274D;
    font-size: 36px;
    font-weight: 500;
    padding-left: 5px;
}


.paraimg {
    width: 40%;
}

.paraimg img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 20px;
    
}

.sec-para {
    width: 50%;
    margin-bottom: 50px;
    


}

.sec-para p {
    font-size: 24px;
    
}

.para {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.section-two p {
    padding: 10px;
    font-size: 18px;
    word-spacing: 1px;
    text-align: left;
}

.section-three {
    margin-top: 7%;


}

.section-six {
   
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 40px;   /* 👈 adds space left & right */
  max-width: 1200px; /* 👈 keeps it centered */
  margin-left: auto;
  margin-right: auto;
}





.section-six h2 {
    text-align: left;
    word-spacing: 1px;
    font-size: 38px;

}

.section-six p {
    font-size: 17px;
}

.para-five {
    padding: 23px;
}

.para-six h2 {
    color: #5C7285;
}

.head {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #00274D;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 30px; 
  max-width: 1200px; 
  margin: 20px auto; 
  padding: 0 20px; 
}

.card2 {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card2:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.team-name {
  font-size: 20px;
  font-weight: 600;
  color: #00274D;
  margin: 10px 0 5px;
}

.card2 a {
  color: #5C7285;
  text-decoration: none;
  font-size: 16px;
}

.card2 a:hover {
  color: #00274D;
  text-decoration: underline;
}

.story-heading {
    font-size: 60px;
    color: #00274D;
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.story-heading1 {
    font-size: 60px;
    color: #00274D;
    font-weight: 500;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
}

.story-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.storypara{
  width: 70%;
}
.story-section h3 {
    font-size: 50px;
    color: #5C7285;
}

.story-section p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.team-name {
    font-size: 25px;
    text-align: left;
    color: #00274D;
    padding-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 40px;
}

.card2 {
    box-shadow: 0px 2px 4px black;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border: none;
    transition: all 0.3s ease;
 
    
}
u
.card2 img {
    width: 250px;
    display: block;
    height: auto;
    border-radius: 10px;
}

.card2 h1 {
    margin: 10px 0;
    font-size: 20px;
    color: #00274d;
    font-family: "Funnel Sans", sans-serif;
    text-align: left;

}

.cardheading h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: #5C7285;
    font-family: "Funnel Sans", sans-serif;
    letter-spacing: 1px;
}

/* login form css */
.signup-container {
    display: flex;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    overflow: hidden;
}

.left-panel {
    background: url(./imgs/loginimg.jpg) center/cover no-repeat;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.left-panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00274d96;
    /* Purple overlay */
}

.tab-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.overlay h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}


.overlay p {
    font-size: 16px;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #00274D;
    position: relative;
    padding-bottom: 16px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
}

.right-panel h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 3px;
    background-color: #00274D;
}

.input-group {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.input-group i {
    color: #00274D;
    margin-right: 15px;
    font-size: 20px;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 8px 0;
}

.signup-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00274D;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.signup-btn:hover {
    background-color: #002f5e;
}


/* loginform css */






/* Product Cards */
.products {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #0056b3;
}

.addtoCart {
    margin: 7px;

}
.starrating1{
  color: yellow;
  font-size: 10px;
}
.starrating{
  display: flex;
  justify-content: center;
   margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.starheading{
  display: flex;
  justify-content: center;
  color: #00274D;
  font-weight: bold;
 
}
.fa-star{
  margin-left: 10px;
  margin-bottom: 5px ;
  font-size: 20px;
  color: #5C7285;
}

#qty {
    margin-bottom: 7px;
}

.cartBtn {
    background-color: #00274D;
    color: white;
    border: none;
    padding: 5px;
    width: 50%;
    margin-top: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 6px;
}

.cartBtn:hover {
    background-color: #314558;
    color: white;
}



.cart-head {
    background-color: #00274D;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 30%;
    margin-left: 35%;
    border-top-left-radius: 20px;

}

.cart-head h1 {
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    letter-spacing: 1px;
}

#put {
    text-align: center;
    font-size: 30px;
    color: #00274D;
}

.cart h1 {
    padding-bottom: 20px;
    color: #00274D;
}


.cart-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 70%;
    background: linear-gradient(145deg, rgba(0, 39, 77, 0.8), rgba(0, 150, 255, 0.3));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;

}



.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

.table-responsive {
    border: #00274D;
}
.whatsapp-float {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: #25D366;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      cursor: pointer;
      transition: 0.3s;
      z-index: 9999;
    }

    .whatsapp-float:hover {
      background: #1ebe5d;
      transform: scale(1.1);
    }

    .whatsapp-float img {
      width: 35px;
      height: 35px;
    }


/* Responsiveness */
/* headline */
@media (max-width: 480px) {
  .headline {
    display: none;
  }
}
/* headline */

/* navbar */
/* Small Tablet  */
@media (max-width: 786px) {
  .navbar {
    position: static;
  }
}
/* Mobile */
@media (max-width: 480px) {
  .navbar {
    position: static;
  }
}
/* navbar */

/* small card responsive */
@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small Tablet  */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/* small card responsive */





/* masonry grid */
@media (max-width: 1200px) {
  .masonry-grid {
    column-count: 2;
    column-gap: 15px;
  }

  .masonry-grid img {
    height: 250px;       
    object-fit: cover;   
  }
}
/* Tablet */
@media (max-width: 768px) {
  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .masonry-grid img {
    height: 200px;     
    display: block;
    object-fit: cover;
    margin-bottom: 0;  
  }
}

/* Mobile */
@media (max-width: 480px) {
  .masonry-grid {
    grid-template-columns: 1fr; 
  }

  .masonry-grid img {
    height: 150px;
     display: block;
    object-fit: cover;
    
  }
}
/* masonry grid */


/* popular cards */
/* Tablet */
@media (max-width: 768px) {
  .container-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container-1 {
    grid-template-columns: 1fr;
  }
}





/* about la imperial */

/* Tablets */
@media (max-width: 1024px) {
  .heading {
    font-size: 30px;
  }
  .featurepara {
    width: 80%;
  }
  
}
/* Mobile */
@media (max-width: 768px) {
  .featurebox {
    flex-direction: column; 
    align-items: center;
  }
  .featurepara {
    width: 90%;
  }
  .heading {
    font-size: 26px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .featurepara {
    width: 100%; 
    padding: 0 10px; 
  }
  .heading {
    font-size: 22px;
  }
}


/* Card-group */
/* Tablets */
@media (max-width: 786px) {
  .card-img-top {
    height: 270px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .card-group {
    flex-direction: column; 
    align-items: center;
  }

  .card {
    width: 90%;             
    margin: 15px 0;
  }

  .card-img-top {
    height: 200px;
  }
}


/* Testimonials */
/* Desktop */
@media (max-width: 1200px) {
  .test-box {
    flex: 1 1 45%; 
  }

  .heading {
    font-size: 32px;
  }
}

/* Tablets */
@media (max-width: 786px) {
  .test-box {
    flex: 1 1 100%; 
    font-size: 15px;
    padding: 15px;
     height: 330px;
  }

  .heading {
    font-size: 26px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .test-box {
    font-size: 10px;
    padding: 12px;
    height: 270px;
  }

  .heading {
    font-size: 22px;
  }
}
/* Testimonials */



/* banner */

/* Tablet */
@media (max-width: 786px) {
  .banner img {
    height: 300px; 
    object-fit: cover;   
  }
}

/* Mobile  */
@media (max-width: 480px) {
  .banner img {
    height: 200px;
    object-fit: cover;
  }
}
/* banner */




/* product cards */
/* Tablet */
@media (max-width: 786px) {
  .container-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .container-2 {
    grid-template-columns: 1fr;
  }
}
/* product cards */


/*  */
/* Tablet */
@media (max-width: 786px) {
  .vision-heading {
    font-size: 1.7rem;
  }

  .para {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .vision-heading {
    font-size: 1.4rem;
  }

  .para {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}




/* Section-two */
/* Tablet */
@media (max-width: 786px) {
  .section-two {
    flex-direction: column;   
    text-align: center;
  }

  .paraimg,
  .sec-para {
    width: 90%; 
  }

  .side-heading {
    font-size: 28px;
  }

  .sec-para p {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .paraimg img {
    width: 100%; 
  }

  .side-heading {
    font-size: 24px;
  }

  .sec-para p {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* Section-two */



/* Section Six */
/* Tablet */
@media (max-width: 786px) {
  .section-six {
    flex-direction: column;
    text-align: center;
  }

  .side-heading {
    font-size: 28px;
    text-align: center;
  }

  .section-six p {
    font-size: 15px;
  }
}


/* Mobile */
@media (max-width: 480px) {
  .section-six {
    gap: 20px;
  }

  .section-six h2 {
    font-size: 22px;
  }

  .section-six p {
    font-size: 14px;
    line-height: 1.4;
  }
}

/* Story Section */
/* Tablet */
@media(max-width : 786px){
  .story-section{
    flex-direction: column;
    text-align: center;
  }
  .story-para{
    width: 50%;
  }
}
/* Mobile */
@media(max-width : 480px){
  .story-section{
    flex-direction: column;
    text-align: center;
  }
  .story-para{
    width: 30%;
  }
}

/* Team Cards */











/* footer */
/* Tablet  */
@media (max-width: 991px) {
  .footer .row {
    text-align: center;
  }
  .footer .col-md-3,
  .footer .col-md-4,
  .footer .col-md-2 {
    margin-bottom: 25px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .footer {
    font-size: 14px;
  }
  .footer h6 {
    font-size: 16px;
  }
  .footer .text-center {
    padding: 15px 10px;
  }
}

/* Mobile */
@media(max-width : 480px){
.team-container{
  flex-direction: column;
  text-align: center;
}
.card2{
  width: 270px;
  height: 300px;
  margin: auto;
  display: block;
}
.card2 img{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
}
/* tablet */
@media (min-width:481px) and (max-width:768px){
.team-container{
  flex-direction: column;
  text-align: center;
}
.card2 img{
  width: 100px;
  height: 80px;
  margin: auto;
  display: block;
}
.email{
  font-size: 9px;
}

}
/* Landscape tablet */
@media (min-width:769px) and (max-width:1024px){
.team-container{
  flex-direction: row;
  text-align: center;
}
.card2{
  width:200px;
  height: 300px;
  margin: auto;
  display: block;
}
.card2 img{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
}/* dekstop */
@media (min-width:1025px) and (max-width:1440px){
.team-container{
  flex-direction: row;
  text-align: center;
}
.card2 img{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
}
/* large devices  */
@media (min-width:1441px){
.team-container{
  flex-direction: row;
  text-align: center;
}
.card2 img{
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}
}
